@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Rosarivo');

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  @media(max-width: 500px) {
    font-size: 12px;
  }
}

* {
  padding: 0;
  margin: 0;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

header {
  width: 100vw;
  height: 100vh;
  img {
    width: 30vw;
    min-width: 300px;
    max-width: 800px;
    @media(max-width: 500px) {
      width: 70vw;
      min-width: 200px;
    }
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}

section.works,
section.about {
  width: 100vw;
  @media(max-width: 300px) {
    width: 300px;
  }
  padding: 50px 0;
  h1 {
    font-family: 'Rosarivo', serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    color: #ccc;
    margin: 0 0 20px;
  }
}

section.works {
  div.works-list {
    overflow: hidden;
    height: 160px;
    width: 100vw;
    ul {
      height: 100%;
      width: 100%;
      list-style: none;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      padding-bottom: 50px;
      font-size: 0px;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        display: inline-block;
        width: 270px;
        height: 150px;
        font-size: 1rem;
        padding: 5px;
        &:first-child {
          margin: 0 0 0 3px;
        }
        &:last-child {
          margin: 0 3px 0 0;
        }
        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

section.works-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  div.works-modal-closer {
    background: url("../img/ic-close.png") center center no-repeat;
    background-size: 100% 100%;
    width: 10vw;
    min-width: 100px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    &:after {
      content: " ";
      display: block;
      padding-bottom: 100%;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  div.works-modal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 600px;
    img {
      display: block;
      max-width: 540px;
      height: 300px;
      margin: 0 auto;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    div {
      max-width: 540px;
      max-height: 300px;
      margin: 30px auto 0;
      padding: 10px 10px 10px 25px;
      border: 1px solid #eee;
      border-width: 0 0 0 10px;
      box-sizing: border-box;
      h1 {
        font-size: 3rem;
        color: gray;
      }
      ul {
        height: 50px;
        li {
          height: 30px;
          font-size: 1.3rem;
          color: #aaa;
          list-style: none;
          float: left;
          padding: 0 10px 0 0;
          &:before {
            content: "#";
            color: #ddd;
            padding: 0 5px 0 0;
          }
        }
      }
      p {
        color: gray;
        padding: 0 0 10px;
      }
      span {
        display: block;
        text-align: right;
        a {
          color: #c5c56a;
          text-decoration: none;
        }
      }
    }
  }
}

section.about {
  dl {
    padding: 10px 0;
    dt {
      min-height: 1.5rem;
      width: 38%;
      @media(max-width: 500px) {
        width: 28%;
      }
      line-height: 1.5rem;
      margin: 0 0 0 10%;
      padding: 0 0 5px;
      text-align: right;
      float: left;
      font-weight: bold;
    }
    dd {
      min-height: 1.5rem;
      width: 40%;
      @media(max-width: 500px) {
        width: 50%;
      }
      line-height: 1.5rem;
      margin: 0 0 0 48%;
      @media(max-width: 500px) {
        margin: 0 0 0 38%;
      }
      padding: 0 0 5px 12px;
      ul li {
        list-style: none;
        float: left;
        &:not(:last-child):after {
          content: "・";
        }
      }
      span.email-at:after {
        content: "@";
      }
    }
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}
