@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Rosarivo');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

html, body {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  @media(max-width: 500px) {
    font-size: 12px;
  }
}

* {
  padding: 0;
  margin: 0;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

header {
  max-width: 1200px;
  width: 90vw;
  padding: 150px 5vw 100px;
  margin: 0 auto;
  img {
    width: 300px;
    margin: 0 0 0 -15px;
  }
  @media(max-width: 540px) {
    h1 {
      text-align: center;
    }
    img {
      width: 200px;
      margin: 0 auto;
    }
  }
}

section.mission,
section.works,
section.about {
  max-width: 1200px;
  width: 90vw;
  padding: 50px 5vw;
  margin: 0 auto;
  h2 {
    font-family: 'Rosarivo', serif;
    font-size: 2.6rem;
    font-weight: normal;
    color: #666;
    margin: 0 0 20px;
  }
  h3 {
    font-family: 'Rosarivo', serif;
    font-size: 2.0rem;
    font-weight: normal;
    color: #999;
  }
  p {
    text-align: left;
    padding: 10px 0;
    color: #999;
  }
}

section.mission {
  span.statement {
    font-size: 1.6em;
  }
}

section.works {
  div.works-list {
    height: auto;
    width: 100%;
    margin: 0 0 50px;
    &:last-child {
      margin: 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      list-style: none;
      font-size: 0px;
      li {
        width: 270px;
        height: 150px;
        font-size: 1rem;
        padding: 5px;
        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}


dialog.works-modal {
  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
  inset: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  box-sizing: border-box;
  overflow: hidden;
  background: transparent;
  div.works-modal-closer {
    background: url("../img/ic-close.png") center center no-repeat;
    background-size: 100% 100%;
    position: fixed;
    @media(min-width: 540px) {
      width: 10vw;
      min-width: 80px;
      height: auto;
      top: 50px;
      right: 50px;
    }
    @media(max-width: 539px) {
      width: 50px;
      height: 50px;
      top: 20px;
      right: 20px;
    }
    cursor: pointer;
    &:after {
      content: " ";
      display: block;
      padding-bottom: 100%;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  div.works-modal-container {
    position: absolute;
    background: white;
    border-radius: 10px;
    @media(min-width: 540px) {
      top: 10%;
      bottom: 10%;
      right: 10%;
      left: 10%;
      margin: auto;
      height: 80%;
      width: 80%;
      max-width: 600px;
    }
    @media(max-width: 539px) {
      top: 90px;
    }
    img {
      display: block;
      width: 94%;
      height: auto;
      max-width: 540px;
      max-height: 300px;
      margin: 30px auto;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    div {
      width: 90%;
      max-width: 540px;
      max-height: 300px;
      margin: 30px auto 0;
      padding: 10px 20px 10px 25px;
      border: 1px solid #eee;
      border-width: 0 0 0 10px;
      box-sizing: border-box;
      h1 {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 0 0 15px;
        color: gray;
      }
      ul {
        height: 50px;
        li {
          height: 30px;
          font-size: 1.3rem;
          color: #aaa;
          list-style: none;
          float: left;
          padding: 0 10px 0 0;
          &:before {
            content: "#";
            color: #ddd;
            padding: 0 5px 0 0;
          }
        }
      }
      p {
        color: gray;
        padding: 0 0 10px;
      }
      span {
        display: block;
        text-align: right;
        a {
          color: #c5c56a;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
  }
}

section.about {
  dl {
    padding: 10px 0;
    dt {
      min-height: 1.5rem;
      width: 100px;
      line-height: 1.5rem;
      margin: 0;
      padding: 0 0 5px;
      text-align: right;
      float: left;
      font-weight: bold;
    }
    dd {
      min-height: 1.5rem;
      width: calc(100% - 110px);
      line-height: 1.5rem;
      margin: 0 0 0 110px;
      padding: 0 0 5px 12px;
      ul li {
        list-style: none;
        float: left;
        &:not(:last-child):after {
          content: "ãƒ»";
        }
      }
      span.email-at:after {
        content: "@";
      }
    }
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}
